ul li a:hover{
	background: yellow;
	border-radius: 10px;
	letter-spacing: 0.1cm;
	font-weight: bold;
}

#container{
	background: #8c7069;
	width: 400px;
	height: 570px;
}

div img{
	width: 400px;
	height: 600px;
}

p{
	float: right;
	background: #8c7069;
	width: 1400px;
	height: 570px;
	font-size: 30px;
	border-radius: 10px;
	font-style: italic;

}

h5{
	font-style: italic;
}

p img{
	width: 300px;
	height: 400px;
}

h4 img{
	width: 700px;
	height: 1000px;
	border-radius: 10px;
}

footer{
	background: #8c7069;
	color: lightblue;
	border-radius: 10px;
	margin-left: 5px;
	padding-left: 5px;
	text-align: center;
}


